#sidebar {
  background-color: #ffffff;
  /* Background color for light theme */
  color: #333;
  /* Text color for light theme */
}

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}